<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bulk SMS Sender</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">


  <div class="header">
    <h1 class="header-title">The Bulk Sender</h1>
  </div>

  
 