<%- include("partials/header"); -%>

  
 
        
        <form method="post" action="/messaging">
          <div class="login">
          <h1 class="login-header">Start Sending Bulk Messages!</h1>
          <div class="login-label-input">
            <p>Enter Message:</p>
            <textarea name="message" class="message-textarea" placeholder="Enter Your Message Here"></textarea>
          </div>
  
          <div class="login-label-input">
            <p>Enter Number:</p>
            <input name="number" type="text" class="login-input"></input>
          </div>

          <div class="login-label-input">
            <p>Bulk Messaging? Input from a file</p>
            <input name="file" type="file" class="file-input"></input>
          </div>

          <div class="login-label-submit">
          
          <input name="sendAllCheck" class="message-send-all"  type="checkbox">Send Message to All</input>
          <input type="submit" class="login-submit"></input>

          </div>
        </div>
      </form>

      
<%- include("partials/footer"); -%>